<!DOCTYPE html>
<html lang="de">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" hype="text/css" href="{{ url_for('static', filename='css/loadingsitestyle.css')}}">
    <title>Reaktorsteuerung</title>
  </head>
  <body>
    <h1 >Farbe wird gemischt...</h1>
    <img src="static/gif/Chemie.gif" alt="Gif">
    <script>
      window.setTimeout(function(){
        window.location.href = "http://192.168.4.1:5000/";
        },3000);
    </script>
  </body>
</html>
