<!DOCTYPE html>
<html lang="de">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/websitestyle.css')}}">
    <title>Reaktorsteuerung</title>
    <style>
      button {
        width: 400px;
        height: 200px;
        margin: 40px;
        font-size: 80px;
        border-radius: 30px;
      }
    </style>
  </head>
  <body>
    <a href=\B1><button id="B1">Rot</button></a>
    <a href=\B2><button id="B2">Gelb</button></a>
    <a href=\B3><button id="B4">Grün</button></a>
    <a href=\B4><button id="B3">Blau</button></a>
  </body>
</html>


